@import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Oxygen+Mono&family=Xanh+Mono&display=swap");

.DigitalClock * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.DigitalClock {
  height: 100vh;
}

.DigitalClock > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 900px;
  margin: 0 auto;
}

.DigitalClock .clock,
.DigitalClock .button-title {
  text-shadow: 0 0 3px silver;
  font-weight: bold;
}

.DigitalClock .clock {
  height: 250px;
  padding-top: 50px;
}

.DigitalClock .clock .time {
  font-size: 6.5rem;
}

.DigitalClock .clock .time-zone {
  font-size: 2rem;
}

.DigitalClock .button-title {
  font-size: 1.5rem;
  margin: 10px 0 5px 0;
  height: 30px;
}

.DigitalClock .button-group {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.DigitalClock button {
  cursor: pointer;
  transition: all 0.5s ease;
  padding: 2px;
  border-radius: 5px;
  width: 60px;
  height: 30px;
}

.DigitalClock .color-buttons button:hover {
  color: white;
}

.DigitalClock .black:hover {
  background-color: black;
}

.DigitalClock .red:hover {
  background-color: red;
}

.DigitalClock .green:hover {
  background-color: green;
}

.DigitalClock .font-buttons button {
  width: 60px;
  height: 30px;
}

.DigitalClock .xahn:hover {
  font-family: "Xahn Mono", monospace;
}

.DigitalClock .oxygen:hover {
  font-family: "Oxygen Mono", monospace;
}

.DigitalClock .major:hover {
  font-family: "Major Mono Display", monospace;
}

.DigitalClock .format-button {
  margin-top: 10px;
}

.DigitalClock .format-button button {
  width: 180px;
}
